[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendors/gflags"]
	path = vendors/gflags
	url = https://github.com/gflags/gflags
[submodule "vendors/cpprestsdk"]
	path = vendors/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
